/***
 * Import fonts
 */
@import "fonts.css";


/***
 * General styles
 */
html,
body {
    font-family: 'proxima_nova_regularregular', Geneva, Arial, Helvetica, sans-serif;
}
.flexbox-container {
    display: flex;
    align-items: stretch;
}

/* buttons */
.btn {
    padding: 12px 30px;
    border-radius: 100px;
    background-color: #01a7ff;
    border: none;
    font-family: 'proxima_nova_regularregular', Geneva, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.5;
}
.btn:hover, .btn:focus, .btn:active,
.btn-link:hover, .btn-link:focus, .btn-link:active {
    outline: none !important;
}
.btn.new-record-btn {
    margin: 20px 50px;
}
.control-btn {
    display: block;
    width: 48px;
    height: 48px;
    margin: 20px auto;
    position: relative;
    background-color: #2b3d54;
    border-radius: 3px;
    transition: all .5s 0s;
}
.control-btn .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.control-btn.active, .control-btn:focus, .control-btn:hover {
    background-color: #01a7ff !important;
}

/* Tooltip */
.tooltip .tooltip-inner {
    font-size: 14px;
    font-family: 'proxima_nova_regularregular', Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 1.43;
    color: #fff;
    background-color: #5d6d81;
    border-radius: 2px;
    padding: 4px 13px;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #5d6d81;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #5d6d81;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #5d6d81;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #5d6d81;
}

/* Icons */
.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: center no-repeat;
    background-size: contain;
}
.icon-plus {
    background-image: url("../images/plus-icon.svg");
}
.icon-brush {
    background-image: url("../images/brush-icon.svg");
}
.icon-trash {
    background-image: url("../images/trash-icon.svg");
}
.icon-rubber {
    background-image: url("../images/rubber-icon.svg");
}
.icon-undo {
    background-image: url("../images/undo.svg");
}
.icon-redo {
    background-image: url("../images/redo.svg");
}

/***
 * Popup styles
 */
.custom-modal .modal-body.flexbox-container {
    padding: 0;
}
.custom-modal .modal-lg {
    width: 1170px;
}
.custom-modal .modal-footer {
    background-color: #f3f6f8;
    box-shadow: inset 0 1px 0 0 #e4ecf1;
}

/* Popup content */
.section {

}
.section.items-section {
    box-shadow: 1px 0 0 0 #e4ecf1;
    width: 300px;
    flex: none;
}
.section ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.section .section-header {
    border-bottom: 1px solid #e4ecf1;
    padding: 30px 40px;
}
.section .section-header h3 {
    margin: 0;
    font-size: 20px;
    font-family: 'proxima_nova_regularregular', Geneva, Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #1e2c3c;
}

/* Products list */
.section .products-list-wrapper {
    padding: 0 40px;
    margin-bottom: 30px;
}
.section label.title {
    font-size: 16px;
    font-family: 'proxima_nova_regularregular', Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #838f9f;
    margin: 30px 0 15px;
    width: 100%;
}
.section .products-list-wrapper ul li {
    display: inline-block;
    width: 100%;
}
.section .products-list-wrapper ul li a {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-right: 30px;
    font-size: 18px;
    font-family: 'proxima_nova_regularregular', Geneva, Arial, Helvetica, sans-serif;
    line-height: 1.56;
    color: #2b3d54;
}
.section .products-list-wrapper ul li a span.icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* Selected products */
ul.selected-products-list {
    margin: 10px 0;
}
ul.selected-products-list li {

}
ul.selected-products-list li.active {
    background-color: #01a7ff;
}
ul.selected-products-list li a {
    display: inline-block;
    width: 100%;
    color: #2b3d54;
    font-size: 16px;
    font-family: 'proxima_nova_regularregular', Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1.5;
    padding: 15px 40px;
    text-decoration: none;
}
ul.selected-products-list li.active a {
    color: #fff;
}

/* Preview section */
.section.preview-section {
    position: relative;
}
.section.preview-section .control-bar {
    position: absolute;
    top: 20px;
    left: 20px;
}
.section.preview-section .control-bar .control-btn {
    display: inline-block;
    margin: 0 10px 0 0;
    background-color: #1e2c3c;
    opacity: 0.3;
}
.section.preview-section .control-bar .control-btn:hover {
    opacity: 1;
    background-color: #2b3d54;
}
.section.preview-section .control-bar .control-btn:last-child {
    margin-right: 0;
}
.section.preview-section .control-bar .control-btn .icon {
    width: 16px;
    height: 15px;
}

/* Control section */
.section.control-section {
    background-color: #1e2c3c;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section.control-section .control-btn .icon {
    width: 24px;
    height: 24px;
}
.section.control-section .control-btn .icon:hover {
    opacity: 1;
}


/* Colorpicker */
.colorpicker-2x .colorpicker-saturation {
    width: 200px;
    height: 200px;
}
.colorpicker-2x .colorpicker-hue,
.colorpicker-2x .colorpicker-alpha {
    width: 30px;
    height: 200px;
}
.colorpicker-2x .colorpicker-color,
.colorpicker-2x .colorpicker-color div {
    height: 30px;
}

/* Range Slider */
.slider.slider-vertical {
    display: block;
    margin: 0 auto;
    height: 90px;
}
.slider.slider-vertical .slider-track {
    width: 4px;
    background-color: #5d6d81;
    left: 50%;
    transform: translateX(-50%);
}
.slider.slider-vertical .slider-track > div {
    background-color: #5d6d81;
    background-image: none;
}
.slider.slider-vertical .slider-tick,
.slider.slider-vertical .slider-handle {
    margin-top: -8px;
}
.slider.slider-vertical .slider-handle {
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    background-image: none;
    left: 50%;
    transform: translateX(-50%);
}

/* Preloader */
#canvasPreloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, .6);
    display: none;
}
#canvasPreloader.visible {
    display: block;
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}